@import "./footer";
@import "./footer.ios.vars";

// iOS Footer
// --------------------------------------------------

::slotted(ion-toolbar:first-of-type) {
  --border-width: #{$hairlines-width} 0 0;
}

@supports (backdrop-filter: blur(0)) {
  .footer-background {
    @include position(0, 0, 0, 0);

    position: absolute;

    backdrop-filter: $footer-ios-translucent-filter;
  }
  :host(.footer-translucent-ios) :slotted(ion-toolbar) {
    --opacity: .8;
  }
}

:host(.ion-no-border) ::slotted(ion-toolbar:first-of-type) {
  --border-width: 0;
}

// iOS Footer - Collapse Fade
// --------------------------------------------------

:host(.footer-collapse-fade) ::slotted(ion-toolbar) {
  --opacity-scale: inherit;
}
