@import "../../themes/ionic.globals";

// Footer
// --------------------------------------------------

:host {
  display: block;
  position: relative;

  order: 1;

  width: 100%;

  z-index: $z-index-toolbar;
}

:host(.footer-toolbar-padding) ::slotted(ion-toolbar:last-of-type) {
  padding-bottom: var(--ion-safe-area-bottom, 0);
}
